body {
	background-color: #999999;
	margin: 0 auto 0 auto;
	max-width: 960px;
	min-width: 960px;
}

div#container {
	background: white;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

div#header {
	font-size: 13px;
	position: relative;
	height: 150px;
	background-color: #d092ff;
	margin-bottom: 8px;
}

div#navbar2 {
	background-color: white;
	position: absolute;
	right: 40px;
	top: 8px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

#navbar2 ul {
	font-size: 13px;
	margin: 0;
	padding: 7px 0;
}

#navbar2 li {
	display: inline;
	list-style-type: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#navbar2 li a {
	color: #134200;
	padding: 4px 10px;
	text-decoration: none;
}

#navbar2 a:hover {
	background-color: #134209;
	color: white;
}

#loginEmail,#loginPassword {
	width: 110;
	height: 25;
	font-size: 13px;
}

#login {
	height: 25;
	font-size: 13px;
	padding-bottom: 2;
}

.pagetitle {
	background-color: transparent;
	color: #740;
	font-size: 175%;
	font-weight: bold;
	margin: 0 0 0.25em 0.25em;
	text-decoration: none;
}

.grid_3 input {
	margin-bottom: 6px;
}

.mainlogo {
	float: right;
}

.mainContentArea {
	background-color: #FFFFFF;
	margin-left: 0 auto 0 auto;
	overflow: auto;	
	width: 960px;
	padding: 1em 0 2em;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

div.home-page-introduction {
	text-align: justify;
	margin: 0.5em 3em;
	font-size: 120%;
	line-height: 1.4em;
}

div.signup-button {
	float: right;
	margin: 0.5em 0 1em 1em;
}

div.signup-button a {
	border: solid #99CC22;
	display: inline;
	text-decoration: none;
	font-family: "Lucida Grande", Arial, Sans-serif;
	font-size: 30px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	color: #445544;
	margin-right: 6px;
	padding: 6px 9px 8px;
	background-color: rgba(153, 204, 34, 0.8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(153, 204, 34, 0.8)
		), to(rgba(153, 255, 17, .9) ) );
	background-image: -moz-linear-gradient(left, right, from(rgba(153, 204, 34, 0.8)
		), to(rgba(153, 255, 17, .9) ) );
	border-top-color: #99cc88;
	border-right-color: #99CC55;
	border-bottom-color: #99CCAA;
	border-left-color: #99dd88;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-box-shadow: rgba(66, 140, 0, 0.5) 0px 10px 16px; /* FF 3.5+ */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-box-shadow: rgba(66, 140, 0, 0.5) 0px 10px 16px;
}

#signUpArea {
	border: 1px solid #888877;
	margin: 1em;
	padding: 1em;
}

#help dl {
	margin-left: 2em;
}

#help dt {
	font-style: italic;
}

#help dd {
	margin: 0.25em 2em 1.25em 2em;
}

table {
	border: 1px solid #228811;
	border-collapse: collapse;
}

td,th {
	background-color: #FFEEEE;
	border-left: 1px solid #228811;
	padding: 0.1em 0.5em;
}

th {
	border-bottom: 1px solid #228811;
}

.error {
	background-color: red;
	padding: 5em;
}

a img {
	border-style: none;
}

a:link {
	color: #6699DD;
}

a:visited {
	color: #8899BB;
}

.formLabel {
	float: left;
	margin-bottom: 5px;
	margin-left: 0px;
	text-align: left;
	width: 100px;
}

.signUpCenter {
	font-size: 20pt;
	margin-bottom: 15px;
	margin-right: 200px;
	text-align: left;
}

.spaceInputBox {
	margin-bottom: 3px;
	margin-right: 0px;
	text-align: left;
}

#logoNameContainer,logoimagecontainer {
	float: left;
	padding-right: 80px;
}

.locationInfo {
	float: right;
	margin-top: 19%;
	padding-right: 25%;
}

.imageDescription {
	float: right;
	margin-top: 19%;
	padding-right: 25%;
}

#attributeContainer {
	display: block;
	float: left;
}

#description {
	clear: both;
	padding-bottom: 15px;
	padding-top: 15px;
}

#memberTable {
	border: 2px solid #CC5500;
	clear: both;
	height: 200px;
	margin: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 300px;
}

.container {
	clear: both;
	display: block;
	float: none;
	margin-top: 20px;
}

div.hor_menu {
	border: 1px solid #228811;
	height: 145px;
	margin-bottom: 5px;
	overflow: auto;
	position: relative;
	width: 500px;
	background: #445544;
}

ul.hor_menu {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-webkit-background-clip: border;
	-webkit-background-origin: padding;
	background: transparent url(navigation.png) repeat scroll 0 0;
	display: block;
	height: 110px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 15px 0 0 15px;
	width: 1500px;
}

.hor_menu li {
	display: block;
	float: left;
	height: 75px;
	margin-right: 80px;
	padding: 0 4px;
	width: 10px;
}

.hor_menu a {
	display: block;
	text-decoration: none;
	text-align: center;
}

.hor_menu span {
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin-top: 3px;
	text-align: center;
}

.hor_menu span {
	color: #FFFFFF;
	display: none;
	font-size: 12px;
	margin-top: 3px;
	text-align: center;
}

.hor_menu a:hover span {
	display: block;
}

.hor_menu img {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border: 3px solid #FFFFFF;
}

.hor_menu a:hover img {
	opacity: 0.5;
}

#map_canvas {
	height: 50%;
	width: 50%;
}

#logo {
	border: 10px solid #DDCCBB;
	font-size: 2.2em;
	font-style: italic;
}

#scrollContainer {
	position: relative;
	width: 860px;
	height: 160px;
	overflow: hidden;
	margin-left: -50px;
	margin-right: 0px;
	margin-bottom: 50px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.scrollContent {
	position: absolute;
	width: 400px;
	left: 0;
	top: 0;
}

#arrows {
	float: right;
}

.shadowText {
	text-shadow: 5px 5px 5px #445544;
	margin-left: 80px;
	font-size: 18px;
}

#checkin {
	-webkit-border-radius: 10px; /* Safari prototype */
	-moz-border-radius: 10px; /* Gecko browsers */
	border-radius: 10px;
	/* Everything else - limited support at the moment */
	background-color: #BBAA88;
	font-size: 13px;
	margin-bottom: 10px;
}

.round_Box_Container {
	-webkit-border-radius: 10px; /* Safari prototype */
	-moz-border-radius: 10px; /* Gecko browsers */
	border-radius: 10px;
	/* Everything else - limited support at the moment */
	background-color: #BBAA88;
	padding-top: 5px;
	padding-bottom: 5px;
}
.teamImage {
    height: 150px;
    width: auto;	
}
#teamName{
	font-size: 160%;
}
#teamInfo{
	font-size: 70%;
}
#requestContainer {
	float: left;
	margin-left: 10px;
}

#info {
	float: right;
	margin-right: 10px;
}

#edit {
	float: right;
	margin-right: 5px;
}

#checkinButton {
	margin-top: 20px;
}

.round_Box_Width {
	width: 550px;
}

.extraPadding {
	padding-top: 5px;
	padding-bottom: 5px;
}

.allLeftArrows {
	margin-right: 5px;
	position: relative;
	left: 138;
	z-index: 2;
	visibility: hidden;
}

.allRightArrows {
	margin-right: 20px;
	margin-bottom: 200px;
	position: relative;
	right: -673;
	z-index: 2;
	visibility: hidden;
}

.centralScrollSpan {
	margin: 0px;
	float: left;
	position: absolute;
}

#footerLeft {
	float: left;
}

#footerRight {
	float: right;
}

.width500 {
	width: 500px;
}

.width300 {
	width: 300px;
}