body {
  background-color: #999999;
  margin: 0 auto 0 auto;
  max-width: 960px;
  min-width: 960px;
}

div#container {
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

div#header {
  font-size: 13px;
  position: relative;
  height: 150px;
  background-color: #d092ff;
  margin-bottom: 8px;
}

div#navbar2 {
  background-color: white;
  position: absolute;
  right: 40px;
  top: 8px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

#navbar2 ul {
  font-size: 13px;
  margin: 0;
  padding: 7px 0;
}

#navbar2 li {
  display: inline;
  list-style-type: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar2 li a {
  color: #134200;
  padding: 4px 10px;
  text-decoration: none;
}

#navbar2 a:hover {
  background-color: #134209;
  color: white;
}

div.searchbar {
  position: absolute;
  right: 40px;
  top: 45px;
}

#loginEmail,#loginPassword {
  width: 110;
  height: 25;
  font-size: 13px;
}

#login {
  height: 25;
  font-size: 13px;
  padding-bottom: 2;
}

.pagetitle {
  background-color: transparent;
  color: #740;
  font-size: 175%;
  font-weight: bold;
  margin: 0 0 0.25em 0.25em;
  text-decoration: none;
}

.grid_3 input {
  margin-bottom: 6px;
}

.mainlogo {
  float: right;
}

.mainContentArea {
  background-color: #FFFFFF;
  margin-left: 0 auto 0 auto;
  overflow: hidden;
  width: 960px;
  padding: 1em 0 2em;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

#home-page-body {
  margin-left: 7px;
}
#footerRight a{
    color: black;
}

#home-page-welcome {
  text-align: justify;
  float: left;
  width: 40%;
  margin: 0.5em 0 0.5em 0.5em;
  font-size: 110%;
  line-height: 1.4em;
}

#home-page-extras {
  width: 55%;
  float: right;
  text-align: center;
  margin: 0.5em 0 0 0;
}

#signup-button {
  text-align: center;
  font-size: 30px;
  margin: 0 auto 1em auto;
}

#user-modify-button {
  text-align: center;
  float: left;
  font-size: 12px;
  margin: 0 auto 2.5em auto;
}

#team-create-button{
  text-align: center;
  float: right;
  font-size: 12px;
  margin: 0 auto 2.5em auto;
}

div.graphic-button a {
  border: solid #99CC22;
  display: inline;
  text-decoration: none;
  font-family: "Lucida Grande", Arial, Sans-serif;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
  color: #445544;
  margin-right: 6px;
  padding: 6px 9px 8px;
  background-color: rgba(153, 204, 34, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(153, 204, 34, 0.8)
    ), to(rgba(153, 255, 17, .9) ) );
  background-image: -moz-linear-gradient(left, right, from(rgba(153, 204, 34, 0.8)
    ), to(rgba(153, 255, 17, .9) ) );
  border-top-color: #99cc88;
  border-right-color: #99CC55;
  border-bottom-color: #99CCAA;
  border-left-color: #99dd88;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-box-shadow: rgba(66, 140, 0, 0.5) 0px 10px 16px; /* FF 3.5+ */
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-box-shadow: rgba(66, 140, 0, 0.5) 0px 10px 16px;
}

h2.tablecaption {
  font-family: Arial, Hevetia, sans-serif;
  text-align: center;
  margin: 2em auto 0.5em 0;
}

.profile {
  margin: 0 auto;
  width: 90%;
  table-layout: fixed;
}

.profile .top-row {
  display: none;
}

.profile-picture {
  text-align: center;
  width: 56px;
  max-width: 56px;
}

.profile-date {
  text-align: right;
  padding-right: 0.2em;
}

#signUpArea {
  border: 1px solid #888877;
  margin: 1em;
  padding: 1em;
}

#help dl {
  margin-left: 2em;
}

#help dt {
  font-style: italic;
}

#help dd {
  margin: 0.25em 2em 1.25em 2em;
}

table {
  border-collapse: collapse;
}

td,th {
  background-color: #FFEEEE;
  border-bottom: 1px solid #228811;
  padding: 0.4em 0.2em;
}

.error {
  background-color: red;
  padding: 5em;
}

a img {
  border-style: none;
}

a:link {
  color: #6699DD;
}

a:visited {
  color: #8899BB;
}

.signUpCenter {
  font-size: 20pt;
  margin-bottom: 15px;
  margin-right: 200px;
  text-align: left;
}

#logoNameContainer,logoimagecontainer {
  float: left;
  padding-right: 80px;
}

.locationInfo {
  float: right;
  margin-top: 19%;
  padding-right: 25%;
}

.imageDescription {
  float: right;
  margin-top: 19%;
  padding-right: 25%;
}

#attributeContainer {
  display: block;
  float: left;
}

#description {
  clear: both;
  padding-bottom: 15px;
  padding-top: 15px;
}

#memberTable {
  border: 2px solid #CC5500;
  clear: both;
  height: 200px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 300px;
}

.container {
  clear: both;
  display: block;
  float: none;
  margin-top: 20px;
}

div.hor_menu {
  border: 1px solid #228811;
  height: 145px;
  margin-bottom: 5px;
  overflow: auto;
  position: relative;
  width: 500px;
  background: #445544;
}

ul.hor_menu {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -webkit-background-clip: border;
  -webkit-background-origin: padding;
  background: transparent url(navigation.png) repeat scroll 0 0;
  display: block;
  height: 110px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 15px 0 0 15px;
  width: 1500px;
}

.hor_menu li {
  display: block;
  float: left;
  height: 75px;
  margin-right: 80px;
  padding: 0 4px;
  width: 1px;
}

.hor_menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 50px;
  word-wrap: break-word;
}

.hor_menu span {
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  margin-top: 3px;
  text-align: center;
}

.hor_menu span {
  color: #FFFFFF;
  display: none;
  font-size: 12px;
  margin-top: 3px;
  text-align: center;
}

.hor_menu a:hover span {
  display: block;
}

.hor_menu img {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border: 3px solid #FFFFFF;
}

.hor_menu a:hover img {
  opacity: 0.5;
}

#map_canvas {
  height: 300px;
  width: 500px;
}

#banner {
  margin-bottom: 8px;
}

#scrollContainer {
  position: relative;
  width: 900px;
  height: 210;
  overflow: hidden;
  margin-left: -50px;
  margin-right: 0px;
  margin-bottom: 50px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.scrollContent {
  position: absolute;
  width: 400px;
  left: 0;
  top: 0;
}

#arrows {
  float: right;
}

.shadowText {
  text-shadow: 5px 5px 5px #445544;
  font-size: 18px;
}

.shadowTextMargin {
  text-shadow: 5px 5px 5px #445544;
  font-size: 18px;
  margin-left: 80px;
}

#checkIn {
  -webkit-border-radius: 10px; /* Safari prototype */
  -moz-border-radius: 10px; /* Gecko browsers */
  border-radius: 10px;
  /* Everything else - limited support at the moment */
  border: 1px solid;
  border-color: CDCDCD;
  font-size: 13px;
  padding-bottom: 5px;
  margin-top: 10px;
}

#loader {
  padding-bottom: 5px;
  margin-top: 50px;
  margin-left: 120px;
  position: absolute;
  z-index:5000;
}
#profileImage{
  margin-left: 13px;
}
.userExtendingDiv{
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
#territoryScroller{
  height: 530px;
  overflow: auto;
  overflow-x: hidden;	
}
.teamMemberScroller{
  height: 109px;
  overflow: auto;
  overflow-x: hidden;	
}	


#sendInvites {
  top: 180px;
  right: 200px;
  position: absolute;
}

.round_Box_Container {
  -webkit-border-radius: 10px; /* Safari prototype */
  -moz-border-radius: 10px; /* Gecko browsers */
  border-radius: 10px;
  /* Everything else - limited support at the moment */
  border: 1px solid;
  border-color: CDCDCD;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.activityBoxContainer {
  -webkit-border-radius: 10px; /* Safari prototype */
  -moz-border-radius: 10px; /* Gecko browsers */
  border-radius: 10px;
  /* Everything else - limited support at the moment */
  border: 1px solid;
  border-color: CDCDCD;
  padding-top: 5px;
  padding-bottom: 5px;
}

.teamImage {
  height: 150px;
  width: auto;
  margin-bottom: 80px;
}

#teamName h3{
  font-size:1.5em;
  font-weight:bold;
  line-height:0.5em;
  margin:0;
  padding:0;
}

#TeamLeader HomeBase{
  margin-left: 12px;
}

#teamInfo {
  font-size: 70%;
  font-weight: bold;
  margin-left: 12px;
}

#teamName p{
  font-size: 0.65em;
  line-height: 0.4em;
  font-weight: bold;
}
#teamDescriptionTitle{
    margin-left: 20px;
}

.territoryAddress {
  font-size: 70%;
}

.userImage {
  height: 150px;
  width: auto;
  margin-bottom: 80px;
}

#userInfo h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 0.5em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#userViewEmail {
  margin-left: 12px;
}

#userInfo p {
  font-size: 0.65em;
  line-height: 0.4em;
  font-weight: bold;
}

#info {
  float: right;
  margin-right: 10px;
}

#checkinButton {
  margin-top: 20px;
}

.allLeftArrows {
  margin-right: 5px;
  position: relative;
  left: 138;
  z-index: 2;
  visibility: hidden;
}

.allRightArrows {
  margin-right: 20px;
  margin-bottom: 200px;
  position: relative;
  right: -673;
  z-index: 2;
  visibility: hidden;
}

.centralScrollSpan {
  margin: 0px;
  float: left;
  position: absolute;
}

#footerLeft {
  float: left;
}

#footerRight {
  float: right;
}

.width500 {
  width: 500px;
}

.width300 {
  width: 300px;
}

#popupBackground {
  display: none;
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #cecece;
  z-index: 1;
}

#popupContent {
  display: none;
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/
  height: 384px;
  width: 408px;
  background: #FFFFFF;
  border: 2px solid #cecece;
  z-index: 2;
  padding: 12px;
  font-size: 13px;
  -webkit-border-radius: 10px; /* Safari prototype */
  -moz-border-radius: 10px; /* Gecko browsers */
}

#popupContent h1 {
  text-align: left;
  color: #6FA5FD;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px dotted #D3D3D3;
  padding-bottom: 2px;
  margin-bottom: 20px;
}

#popupContentClose {
  font-size: 14px;
  line-height: 14px;
  right: 6px;
  top: 4px;
  position: absolute;
  color: #6fa5fd;
  font-weight: 700;
  display: block;
}

.miniProfile {
  border-bottom: 1px #445544 dashed;
  height: 55px;
}

.miniProfilePic {

}

.miniProfilePicHidden {
  visibility: hidden;
  margin-left: -80;
}

.miniProfileName {
  margin-left: 30px;
  position: absolute;
}

.miniProfileInfoJoined {
  position: absolute;
  margin-left: 80px;
  margin-top: 30px;
}

.miniProfileInfoCheckin {
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}

.miniProfileInfoAddress {
  position: absolute;
  margin-left: 30px;
  margin-top: 20px;
  }

.verticalMenu {
  margin-left: 80px;
  width: 600px;
}

#query {
  color: #CCCCCC;
}
