body {
  background-color: #445530;
  margin: 0;
}

.pagetitle {
  background-color: transparent;
  color: #cc5500;
  font-size: 175%;
  font-weight: bold;
  margin: 0.25em 0 0 0.25em;
  text-decoration: none;
}

.mainlogo {
  float: right;
}

.mainContentArea {
  background-color: #ffffff;
  border: 1px solid #888877;
  margin: 1em;
  padding: 1em;
}

#signUpArea {
  background-color: #fffff;
  border: 1px solid #888877;
  margin: 1em;
  padding: 1em;
}

table {
  border: 1px solid #228811;
  border-collapse: collapse;
}

td,th {
  background-color: #FFEEEE;
  border-left: 1px solid #228811;
  padding: 0.1em 0.5em;
}

th {
  border-bottom: 1px solid #228811;
}

.error {
  background-color: red;
  padding: 5em;
}

a img {
  border-style: none;
}

a:link {
  color: #6699DD;
}

a:visited {
  color: #8899BB;
}

a:hover {
  background-color: #AAAA99;
  color: white;
}

.formLabel {
  margin-bottom: 5px;
  margin-right: 0;
  text-align: right;
  width: 450px;
  float: left;
}

.signUpCenter {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20pt;
  margin-right: 200px;
}

}
formarea:FOCUS,INPUT:FOCUS {
  border: 3px solid #CC5500;
  background: #8899BB;
}

.spaceInputBox {
  margin-bottom: 3px;
  margin-right: 600px;
  text-align: right;
}

#logoNameContainer, logoImageContainer{
	padding-right: 80;
	float: left;
}

.locationInfo{
	float: right;
	padding-right:25%;
	margin-top: 19%;
}

.imageDescription{
	float: right;
	padding-right:25%;
	margin-top: 19%;
}

#attributeContainer{
	display:block;
	float: left;
}

#description{
	display:bock;
	clear:both;
	padding-top:15px;
	padding-bottom:15px
}

#memberTable{
	height: 200px;
    width: 300px;
	overflow:scroll;
	overflow-x:hidden;
    clear:both;
    margin:auto;
    border: 2px solid #CC5500;
}
.container{
	margin-top:20px;
	display:block;
    clear:both;
    float:none;
}

#map_canvas{
	width:50%; 
	height:50%;
}