body {
	background-color: #445530;
	margin: 0;
}

.loginbar {
	margin-bottom: 25px;
}

.pagetitle {
	background-color: transparent;
	color: #CC5500;
	font-size: 175%;
	font-weight: bold;
	margin: 0.25em 0 0 0.25em;
	text-decoration: none;
}

.mainlogo {
	float: right;
}

.mainContentArea {
	background-color: #FFFFFF;
	margin: 1em;
	padding: 1em;
}

#signUpArea {
	border: 1px solid #888877;
	margin: 1em;
	padding: 1em;
}

table {
	border: 1px solid #228811;
	border-collapse: collapse;
}

td,th {
	background-color: #FFEEEE;
	border-left: 1px solid #228811;
	padding: 0.1em 0.5em;
}

th {
	border-bottom: 1px solid #228811;
}

.error {
	background-color: red;
	padding: 5em;
}

a img {
	border-style: none;
}

a:link {
	color: #6699DD;
}

a:visited {
	color: #8899BB;
}

a:hover {
	background-color: #398F39;
	color: white;
}

.formLabel {
	float: left;
	margin-bottom: 5px;
	margin-left: 0px;
	text-align: left;
	width: 100px;
}

.signUpCenter {
	font-size: 20pt;
	margin-bottom: 15px;
	margin-right: 200px;
	text-align: left;
}

.spaceInputBox {
	margin-bottom: 3px;
	margin-right: 0px;
	text-align: left;
}

#logoNameContainer,logoimagecontainer {
	float: left;
	padding-right: 80px;
}

.locationInfo {
	float: right;
	margin-top: 19%;
	padding-right: 25%;
}

.imageDescription {
	float: right;
	margin-top: 19%;
	padding-right: 25%;
}

#attributeContainer {
	display: block;
	float: left;
}

#description {
	clear: both;
	padding-bottom: 15px;
	padding-top: 15px;
}

#memberTable {
	border: 2px solid #CC5500;
	clear: both;
	height: 200px;
	margin: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 300px;
}

.container {
	clear: both;
	display: block;
	float: none;
	margin-top: 20px;
}

div.hor_menu {
	border: 1px solid #228811;
	height: 145px;
	margin-bottom: 5px;
	overflow: auto;
	position: relative;
	width: 500px;
	background: #445544;
}

ul.hor_menu {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
    -webkit-background-clip: border;
    -webkit-background-origin: padding;
	background: transparent url(navigation.png) repeat scroll 0 0;
	display: block;
	height: 110px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 15px 0 0 15px;
	width: 1500px;
}

.hor_menu li {
	display: block;
	float: left;
	padding: 0 4px;
}

.hor_menu a {
	display: block;
	text-decoration: none;
}

.hor_menu span {
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin-top: 3px;
	text-align: center;
}

.hor_menu span {
	color: #FFFFFF;
	display: none;
	font-size: 12px;
	margin-top: 3px;
	text-align: center;
}

.hor_menu a:hover span {
	display: block;
}

.hor_menu img {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border: 3px solid #FFFFFF;
}

.hor_menu a:hover img {
	opacity: 0.5;
}

#map_canvas {
	height: 50%;
	width: 50%;
}

#logo {
	border: 10px solid #DDCCBB;
	font-size: 2.2em;
	font-style: italic;
}

#navbar2 {
	background-color: #445544;
	height: 30px;
	width: 100%;
}

#navbar2 ul {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	line-height: 30px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

#navbar2 li {
	display: inline;
	list-style-type: none;
}

#navbar2 li a {
	color: #BBAA88;
	padding: 7px 10px;
	text-decoration: none;
}

#navbar2 lia:link {
	
}

#navbar2 lia:visited {
	color: #CCCCCC;
}

#scrollContainer {
	position: relative;
	width: 400px;
	height: 160px;
	overflow: hidden;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 50px;
	border: 1px solid #445544;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px; 
}

.scrollContent {
	position: absolute;
	width: 400px;
	left: 0;
	top: 0;
}

#arrows {
	float: right;
}

.shadowText {
	text-shadow: 5px 5px 5px #445544;
}
#checkin{
	-webkit-border-radius: 10px; /* Safari prototype */
    -moz-border-radius: 10px; /* Gecko browsers */
    border-radius: 10px; /* Everything else - limited support at the moment */
    background-color: #BBAA88;
    font-size: 13px;
}
#user_friend_team_container{
	-webkit-border-radius: 10px; /* Safari prototype */
    -moz-border-radius: 10px; /* Gecko browsers */
    border-radius: 10px; /* Everything else - limited support at the moment */
    background-color: #BBAAAA;
}
#user_info_friend_request_container{
	-webkit-border-radius: 10px; /* Safari prototype */
    -moz-border-radius: 10px; /* Gecko browsers */
    border-radius: 10px; /* Everything else - limited support at the moment */
    background-color: #BBBBBB;	
}

a.signup-button {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px; 
	border : solid #99CC22;
	display: inline;
	font-family: "Lucida Grande", Arial, Sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	color: #445544;
	margin-right: 6px;
	padding: 3px 6px 5px;
	background-color: rgba(153,204,34, 0.8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(153,204,34, 0.8)), to(rgba(153,255,17, .9)));
    background-image: -moz-linear-gradient(left, right, from(rgba(153,204,34, 0.8)), to(rgba(153,255,17, .9)));
  	border-top-color: #99cc88;
  	border-right-color: #99CC55;
  	border-bottom-color: #99CCAA;
 	border-left-color: #99dd88;
 	-webkit-box-shadow: rgba(66, 140, 0, 0.5) 0px 10px 16px;
 	-moz-box-shadow: rgba(66, 140, 0, 0.5) 0px 10px 16px; /* FF 3.5+ */
}
	border: solid #99CC22
}
