<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="handlerMapping"
        class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="0"/>
        <property name="alwaysUseFullPath" value="true"/>
        <property name="urlMap">
            <map>
                <entry key="/" value-ref="welcomeController" />
                <entry key="/index.html" value-ref="welcomeController" />
                
                <entry key="/user/signup" value-ref="signUpController" />
                <entry key="/user/delete" value-ref="userDeleteController" />
                <entry key="/user/manage" value-ref="userManageController" />
                <entry key="/user/viewProfile" value-ref="userViewProfileController" />
                
                <entry key="/team/create" value-ref="teamCreateController" />
                <entry key="/team/update" value-ref="teamUpdateController" />
                <entry key="/team/delete" value-ref="teamDeleteController" />
                
                <entry key="/location/create" value-ref="locationCreateController" />
                <entry key="/location/update" value-ref="locationUpdateController" />
                <entry key="/location/delete" value-ref="locationDeleteController" />
                
                <entry key="/status/ping" value-ref="pingController" />
                <entry key="/status/show" value-ref="showController" />
                <entry key="/status/hide" value-ref="hideController" />
                <entry key="/status/game" value-ref="viewWorldMapController" />
                
                <!--
                <entry key="/login" value-ref="loginController" />
                <entry key="/logout" value-ref="logoutController" />
                <entry key="/error/*" value-ref="errorController" />
                -->
            </map>
        </property>
    </bean>

    <!--
        Resource Bundles
    -->
    <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>serengeti</value>
            </list>
        </property>
    </bean>

    <!--
        Controllers
    -->
    <bean id="welcomeController"
        class="com.playserengeti.controller.WelcomeController">
    </bean>

    <bean id="signUpController"
        class="com.playserengeti.controller.SignUpController">
        <property name="commandClass"
            value="com.playserengeti.controller.SignUpCommand"
        />
        <property name="commandName" value="signUp"/>
        <property name="validator" ref="signUpValidator"/>
        <constructor-arg ref="signUpService"/>
    </bean>

    <bean id="teamCreateController"
        class="com.playserengeti.controller.TeamCreateController">
        <property name="commandClass"
        	value="com.playserengeti.controller.TeamCreateCommand"
        />
        <property name="commandName" value="createTeam"/>
        <property name="validator" ref="teamCreateValidator"/>
        <constructor-arg ref="teamCreateService"/>
    </bean>
    
        <bean id="teamUpdateController"
        class="com.playserengeti.controller.TeamUpdateController">
        <property name="commandClass"
        	value="com.playserengeti.controller.TeamUpdateCommand"
        />
        <property name="commandName" value="updateTeam"/>
        <property name="validator" ref="teamUpdateValidator"/>
        <constructor-arg ref="teamUpdateService"/>
    </bean>
    
        <bean id="teamDeleteController"
        class="com.playserengeti.controller.TeamDeleteController">
        <property name="commandClass"
        	value="com.playserengeti.controller.TeamDeleteCommand"
        />
        <property name="commandName" value="deleteTeam"/>
        <property name="validator" ref="teamDeleteValidator"/>
        <constructor-arg ref="teamDeleteService"/>
    </bean>
    
        <bean id="locationCreateController"
        class="com.playserengeti.controller.LocationCreateController">
        <property name="commandClass"
        	value="com.playserengeti.controller.LocationCreateCommand"
        />
        <property name="commandName" value="createLocation"/>
        <property name="validator" ref="locationCreateValidator"/>
        <constructor-arg ref="locationCreateService"/>
    </bean>
    
        <bean id="locationManageController"
        class="com.playserengeti.controller.LocationManageController">
        <property name="commandClass"
        	value="com.playserengeti.controller.LocationManageCommand"
        />
        <property name="commandName" value="manageLocation"/>
        <property name="validator" ref="locationManageValidator"/>
        <constructor-arg ref="locationManageService"/>
    </bean>
    
        <bean id="locationDeleteController"
        class="com.playserengeti.controller.LocationDeleteController">
        <property name="commandClass"
        	value="com.playserengeti.controller.LocationDeleteCommand"
        />
        <property name="commandName" value="deletelocation"/>
        <property name="validator" ref="locationDeleteValidator"/>
        <constructor-arg ref="locationDeleteService"/>
    </bean>
    
    <bean id="signUpService"
        class="com.playserengeti.service.SignUpService">
    </bean>

    <bean id="teamCreateService"
        class="com.playserengeti.service.TeamCreateService">
    </bean>
    
    <bean id="teamUpdateService"
        class="com.playserengeti.service.TeamUpdateService">
    </bean>
    
    <bean id="teamDeleteService"
        class="com.playserengeti.service.TeamDeleteService">
    </bean>
    
    <bean id="signUpValidator"
        class="com.playserengeti.controller.SignUpValidator">
    </bean>
    
    <bean id="locationCreateService"
        class="com.playserengeti.controller.LocationCreateService">
    </bean>
    
    <bean id="locationDeleteService"
        class="com.playserengeti.controller.LocationDeleteService">
    </bean>
    
    <bean id="locationManageService"
        class="com.playserengeti.controller.LocationManageService">
    </bean>
    
    <bean id="userDeleteController"
        class="com.playserengeti.controller.UserDeleteController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserDeleteCommand"
        />
        <property name="commandName" value="userDelete"/>
        <property name="validator" ref="userDeleteValidator"/>
        <constructor-arg ref="userDeleteService"/>
    </bean>

    <bean id="userDeleteService"
        class="com.playserengeti.service.UserDeleteService">
    </bean>

    <bean id="userDeleteValidator"
        class="com.playserengeti.controller.UserDeleteValidator">
    </bean>    

    <bean id="userManageController"
        class="com.playserengeti.controller.UserManageController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserManageCommand"
        />
        <property name="commandName" value="userManage"/>
        <property name="validator" ref="userManageValidator"/>
        <constructor-arg ref="userManageService"/>
    </bean>

    <bean id="userManageService"
        class="com.playserengeti.service.UserManageService">
    </bean>

    <bean id="userManageValidator"
        class="com.playserengeti.controller.UserManageValidator">
    </bean>

    <bean id="userViewProfileController"
        class="com.playserengeti.controller.UserViewProfileController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserViewProfileCommand"
        />
        <property name="commandName" value="userViewProfile"/>
        <property name="validator" ref="userViewProfileValidator"/>
        <constructor-arg ref="userViewProfileService"/>
    </bean>

    <bean id="userViewProfileService"
        class="com.playserengeti.service.UserViewProfileService">
    </bean>

    <bean id="userViewProfileValidator"
        class="com.playserengeti.controller.UserViewProfileValidator">
    </bean>
    
    <bean id="teamCreateValidator"
        class="com.playserengeti.controller.TeamCreateValidator">
    </bean>

    <bean id="teamUpdateValidator"
        class="com.playserengeti.controller.TeamUpdateValidator">
    </bean>
    
    <bean id="teamDeleteValidator"
        class="com.playserengeti.controller.TeamDeleteValidator">
    </bean>
    
    <bean id="locationDeleteValidator"
        class="com.playserengeti.controller.LocationDeleteValidator">
    </bean>

    <bean id="locationCreateValidator"
        class="com.playserengeti.controller.LocationCreateValidator">
    </bean>
    
    <bean id="locationManageValidator"
        class="com.playserengeti.controller.LocationManageValidator">
    </bean>
    
    <bean id="pingController"
        class="com.playserengeti.controller.PingController">
        <property name="commandClass"
            value="com.playserengeti.controller.PingCommand"
        />
        <property name="commandName" value="ping"/>
        <property name="validator" ref="pingValidator"/>
        <constructor-arg ref="pingService"/>
    </bean>

    <bean id="pingService"
        class="com.playserengeti.service.PingService">
    </bean>

    <bean id="pingValidator"
        class="com.playserengeti.controller.PingValidator">
    </bean> 
    
    <bean id="showController"
        class="com.playserengeti.controller.ShowController">
        <property name="commandClass"
            value="com.playserengeti.controller.ShowCommand"
        />
        <property name="commandName" value="show"/>
        <property name="validator" ref="showValidator"/>
        <constructor-arg ref="showService"/>
    </bean>

    <bean id="showService"
        class="com.playserengeti.service.ShowService">
    </bean>

    <bean id="showValidator"
        class="com.playserengeti.controller.ShowValidator">
    </bean>     
    
    <bean id="hideController"
        class="com.playserengeti.controller.HideController">
        <property name="commandClass"
            value="com.playserengeti.controller.HideCommand"
        />
        <property name="commandName" value="hide"/>
        <property name="validator" ref="hideValidator"/>
        <constructor-arg ref="hideService"/>
    </bean>

    <bean id="hideService"
        class="com.playserengeti.service.HideService">
    </bean>

    <bean id="hideValidator"
        class="com.playserengeti.controller.HideValidator">
    </bean>     
    
    <bean id="viewWorldMapController"
        class="com.playserengeti.controller.ViewWorldMapController">
        <property name="commandClass"
            value="com.playserengeti.controller.ViewWorldMapCommand"
        />
        <property name="commandName" value="viewWorldMap"/>
        <property name="validator" ref="viewWorldMapValidator"/>
        <constructor-arg ref="viewWorldMapService"/>
    </bean>

    <bean id="viewWorldMapService"
        class="com.playserengeti.service.ViewWorldMapService">
    </bean>

    <bean id="viewWorldMapValidator"
        class="com.playserengeti.controller.ViewWorldMapValidator">
    </bean>     
    
    
    <!--
        View Resolvers
    -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView"
        />
        <property name="prefix" value="/WEB-INF/tiles/"/>
    </bean>
</beans>
