<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="handlerMapping"
        class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="0"/>
        <property name="alwaysUseFullPath" value="true"/>
        <property name="urlMap">
            <map>
                <entry key="/" value-ref="welcomeController" />
                <entry key="/index.html" value-ref="welcomeController" />

                <entry key="/user/create" value-ref="userCreateController" />
                <entry key="/user/delete" value-ref="userDeleteController" />
                <entry key="/user/update" value-ref="userUpdateController" />
                <entry key="/user/view" value-ref="userViewProfileController" />
                <entry key="/user/list" value-ref="userListController" />

                <entry key="/team/create" value-ref="teamCreateController" />
                <entry key="/team/update" value-ref="teamUpdateController" />
                <entry key="/team/delete" value-ref="teamDeleteController" />
                <entry key="/team/view" value-ref="teamViewProfileController" />
                <entry key="/team/list" value-ref="teamListController" />
                <entry key="/team/central" value-ref="teamCentralController" />
                <entry key="/team/invite" value-ref="teamInviteController" />

                <entry key="/location/create" value-ref="locationCreateController" />
                <entry key="/location/update" value-ref="locationUpdateController" />
                <entry key="/location/delete" value-ref="locationDeleteController" />
                <entry key="/location/view" value-ref="locationViewProfileController" />
                <entry key="/location/list" value-ref="locationListController" />

                <entry key="/status/ping" value-ref="pingController" />
                <entry key="/status/show" value-ref="showController" />
                <entry key="/status/hide" value-ref="hideController" />
                <entry key="/status/game" value-ref="viewWorldMapController" />

                <entry key="/visit/create" value-ref="visitCreateController" />

                <!--
                <entry key="/login" value-ref="loginController" />
                <entry key="/logout" value-ref="logoutController" />
                <entry key="/error/*" value-ref="errorController" />
                -->
            </map>
        </property>
    </bean>

    <!--
        Resource Bundles
    -->
    <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>serengeti</value>
            </list>
        </property>
    </bean>

    <!--
        Controllers
    -->

    <bean id="welcomeController"
        class="com.playserengeti.controller.WelcomeController">
    </bean>

    <!--
        User Controllers and Such
    -->

    <bean id="userCreateController"
        class="com.playserengeti.controller.UserCreateController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserCreateCommand"
        />
        <property name="validator" ref="userCreateValidator"/>
        <property name="formView" value="signup"/>
        <property name="successView" value="signupSuccess"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userCreateValidator"
        class="com.playserengeti.controller.UserCreateValidator">
    </bean>

    <bean id="userDeleteController"
        class="com.playserengeti.controller.UserDeleteController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserDeleteCommand"
        />
        <property name="commandName" value="userDelete"/>
        <property name="validator" ref="userDeleteValidator"/>
        <property name="formView" value="userDelete"/>
        <property name="successView" value="userDeleteSuccess"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userListController"
        class="com.playserengeti.controller.UserListController">
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userService"
        class="com.playserengeti.service.UserService">
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="userDao"
        class="com.playserengeti.dao.UserDaoMockImpl">
    </bean>

    <bean id="userDeleteValidator"
        class="com.playserengeti.controller.UserDeleteValidator">
    </bean>

    <bean id="userUpdateController"
        class="com.playserengeti.controller.UserUpdateController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserUpdateCommand"
        />
        <property name="commandName" value="userUpdate"/>
        <property name="validator" ref="userUpdateValidator"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userUpdateValidator"
        class="com.playserengeti.controller.UserUpdateValidator">
    </bean>

    <bean id="userViewProfileController"
        class="com.playserengeti.controller.UserViewProfileController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserViewProfileCommand"
        />
        <property name="commandName" value="userViewProfile"/>
        <property name="validator" ref="userViewProfileValidator"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userViewProfileValidator"
        class="com.playserengeti.controller.UserViewProfileValidator">
    </bean>

 <!--
     Team Controllers and Such
 -->
     <bean id="teamCreateController"
        class="com.playserengeti.controller.TeamCreateController">
        <property name="commandClass"
          value="com.playserengeti.controller.TeamCreateCommand"
        />
        <property name="commandName" value="createTeam"/>
        <property name="validator" ref="teamCreateValidator"/>
        <property name="formView" value="teamCreate"/>
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="userService"/>
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="teamUpdateController"
        class="com.playserengeti.controller.TeamUpdateController">
        <property name="commandClass"
          value="com.playserengeti.controller.TeamUpdateCommand"
        />
        <property name="commandName" value="updateTeam"/>
        <property name="validator" ref="teamUpdateValidator"/>
        <property name="formView" value="teamUpdate" />
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="userService"/>
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="teamDeleteController"
        class="com.playserengeti.controller.TeamDeleteController">
        <property name="commandClass"
          value="com.playserengeti.controller.TeamDeleteCommand"
        />
        <property name="commandName" value="deleteTeam"/>
        <property name="validator" ref="teamDeleteValidator"/>
        <property name="formView" value="teamDelete" />
        <property name="successView" value="teamCentral" />
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="teamViewProfileController"
        class="com.playserengeti.controller.TeamViewProfileController">
        <property name="commandClass"
            value="com.playserengeti.controller.TeamViewProfileCommand"
        />
        <property name="commandName" value="teamViewProfile"/>
        <property name="validator" ref="teamViewProfileValidator"/>
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="teamListController"
        class="com.playserengeti.controller.TeamListController">
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="teamCentralController"
        class="com.playserengeti.controller.TeamCentralController">
        <property name="commandClass"
          value="com.playserengeti.controller.TeamCentralCommand"
        />
        <property name="commandName" value="teamCentral"/>
        <property name="validator" ref="teamCentralValidator"/>
        <property name="formView" value="teamCentral" />
        <property name="successView" value="teamCreate" />
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="teamInviteController"
        class="com.playserengeti.controller.TeamInviteController">
        <property name="commandClass"
          value="com.playserengeti.controller.TeamInviteCommand"
        />
        <property name="commandName" value="teamInvite"/>
        <property name="validator" ref="teamInviteValidator"/>
        <property name="formView" value="teamInvite" />
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="teamCreateValidator"
        class="com.playserengeti.controller.TeamCreateValidator">
    </bean>

    <bean id="teamUpdateValidator"
        class="com.playserengeti.controller.TeamUpdateValidator">
    </bean>

    <bean id="teamDeleteValidator"
        class="com.playserengeti.controller.TeamDeleteValidator">
    </bean>

    <bean id="teamViewProfileValidator"
        class="com.playserengeti.controller.TeamViewProfileValidator">
    </bean>

    <bean id="teamCentralValidator"
        class="com.playserengeti.controller.TeamCentralValidator">
    </bean>

    <bean id="teamInviteValidator"
        class="com.playserengeti.controller.TeamInviteValidator">
    </bean>

    <bean id="teamService"
        class="com.playserengeti.service.TeamService">
        <constructor-arg ref="teamDao"/>
    </bean>

    <bean id="teamDao"
        class="com.playserengeti.dao.TeamDaoMockImpl">
    </bean>

    <!--
        Location Controllers and Such
    -->

    <bean id="locationCreateController"
        class="com.playserengeti.controller.LocationCreateController">
        <property name="commandClass"
          value="com.playserengeti.controller.LocationCreateCommand"
        />
        <property name="commandName" value="createLocation"/>
        <property name="validator" ref="locationCreateValidator"/>
        <property name="formView" value="locationCreate" />
        <property name="successView" value="locationCreateSuccess" />
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="locationUpdateController"
        class="com.playserengeti.controller.LocationUpdateController">
        <property name="commandClass"
          value="com.playserengeti.controller.LocationUpdateCommand"
        />
        <property name="commandName" value="updateLocation"/>
        <property name="validator" ref="locationUpdateValidator"/>
                <property name="formView" value="locationUpdate" />
        <property name="successView" value="locationUpdateSuccess" />
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="locationDeleteController"
        class="com.playserengeti.controller.LocationDeleteController">
        <property name="commandClass"
          value="com.playserengeti.controller.LocationDeleteCommand"
        />
        <property name="commandName" value="deleteLocation"/>
        <property name="validator" ref="locationDeleteValidator"/>
        <property name="formView" value="locationDelete" />
        <property name="successView" value="locationDeleteSuccess" />
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="locationViewProfileController"
        class="com.playserengeti.controller.LocationViewProfileController">
        <property name="commandClass"
            value="com.playserengeti.controller.LocationViewProfileCommand"
        />
        <property name="commandName" value="locationViewProfile"/>
        <property name="validator" ref="locationViewProfileValidator"/>
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="locationListController"
        class="com.playserengeti.controller.LocationListController">
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="locationService"
        class="com.playserengeti.service.LocationService">
        <constructor-arg ref="locationDao"/>
    </bean>

    <bean id="locationDeleteValidator"
        class="com.playserengeti.controller.LocationDeleteValidator">
    </bean>

    <bean id="locationCreateValidator"
        class="com.playserengeti.controller.LocationCreateValidator">
    </bean>

    <bean id="locationUpdateValidator"
        class="com.playserengeti.controller.LocationUpdateValidator">
    </bean>

    <bean id="locationViewProfileValidator"
        class="com.playserengeti.controller.LocationViewProfileValidator">
    </bean>

    <bean id="locationDao"
        class="com.playserengeti.dao.LocationDaoMockImpl">
        <constructor-arg ref="teamDao"/>
    </bean>

    <!--
        Status Controllers and Such
    -->

    <bean id="pingController"
        class="com.playserengeti.controller.PingController">
        <property name="commandClass"
            value="com.playserengeti.controller.PingCommand"
        />
        <property name="commandName" value="ping"/>
        <property name="validator" ref="pingValidator"/>
        <constructor-arg ref="pingService"/>
    </bean>

    <bean id="pingService"
        class="com.playserengeti.service.PingService">
    </bean>

    <bean id="pingValidator"
        class="com.playserengeti.controller.PingValidator">
    </bean>

    <bean id="showController"
        class="com.playserengeti.controller.ShowController">
        <property name="commandClass"
            value="com.playserengeti.controller.ShowCommand"
        />
        <property name="commandName" value="show"/>
        <property name="validator" ref="showValidator"/>
        <constructor-arg ref="showService"/>
    </bean>

    <bean id="showService"
        class="com.playserengeti.service.ShowService">
    </bean>

    <bean id="showValidator"
        class="com.playserengeti.controller.ShowValidator">
    </bean>

    <bean id="hideController"
        class="com.playserengeti.controller.HideController">
        <property name="commandClass"
            value="com.playserengeti.controller.HideCommand"
        />
        <property name="commandName" value="hide"/>
        <property name="validator" ref="hideValidator"/>
        <constructor-arg ref="hideService"/>
    </bean>

    <bean id="hideService"
        class="com.playserengeti.service.HideService">
    </bean>

    <bean id="hideValidator"
        class="com.playserengeti.controller.HideValidator">
    </bean>

    <bean id="viewWorldMapController"
        class="com.playserengeti.controller.ViewWorldMapController">
        <property name="commandClass"
            value="com.playserengeti.controller.ViewWorldMapCommand"
        />
        <property name="commandName" value="viewWorldMap"/>
        <property name="validator" ref="viewWorldMapValidator"/>
        <constructor-arg ref="viewWorldMapService"/>
    </bean>

    <bean id="viewWorldMapService"
        class="com.playserengeti.service.ViewWorldMapService">
    </bean>

    <bean id="viewWorldMapValidator"
        class="com.playserengeti.controller.ViewWorldMapValidator">
    </bean>

    <!--
        Visit Controllers and Such
    -->

    <bean id="visitCreateController"
        class="com.playserengeti.controller.VisitCreateController">
        <property name="commandClass"
          value="com.playserengeti.controller.VisitCreateCommand"
        />
        <property name="commandName" value="visitCreate"/>
        <property name="validator" ref="visitCreateValidator"/>
        <property name="formView" value="visitCreate"/>
        <property name="successView" value="visitCreateSuccess"/>
        <constructor-arg ref="visitService"/>
    </bean>

    <bean id="visitCreateValidator"
        class="com.playserengeti.controller.VisitCreateValidator">
    </bean>

    <bean id="visitService"
        class="com.playserengeti.service.VisitService">
        <constructor-arg ref="visitDao"/>
    </bean>

    <bean id="visitDao"
        class="com.playserengeti.dao.VisitDaoMockImpl">
    </bean>

    <!--
    This is the way to do it without tiles
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView"
        />
        <property name="prefix" value="/WEB-INF/tiles/"/>
    </bean>
    -->

    <!--
        Tiles configuration and view resolver
    -->
    <bean id="tilesConfigurer"
        class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/serengeti-tiles.xml</value>
            </list>
        </property>
    </bean>

    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.tiles2.TilesView</value>
        </property>
    </bean>
</beans>
