<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean id="handlerMapping"
        class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="0"/>
        <property name="alwaysUseFullPath" value="true"/>
        <property name="urlMap">
            <map>
                <entry key="/" value-ref="welcomeController" />
                <entry key="/index.html" value-ref="welcomeController" />
                                			
                <!--
                <entry key="/login" value-ref="loginController" />
                <entry key="/logout" value-ref="logoutController" />
                <entry key="/error/*" value-ref="errorController" />
                -->
                
                <entry key="/user/create" value-ref="userCreateController" />
                <entry key="/user/update" value-ref="userUpdateController" />
                <entry key="/user/delete" value-ref="userDeleteController" />
                <entry key="/user/login" value-ref="userLoginController" />
                <entry key="/user" value-ref="userController" />
                <entry key="/user/*" value-ref="userController" />
                
                <entry key="/team/create" value-ref="teamCreateController" />
                <entry key="/team/update" value-ref="teamUpdateController" />
                <entry key="/team" value-ref="teamController" />
                <entry key="/team/*" value-ref="teamController" />
                
                <entry key="/location/create" value-ref="locationCreateController" />
                <entry key="/location" value-ref="locationController" />
                <entry key="/location/*" value-ref="locationController" />
            </map>
        </property>
    </bean>

    <!--
        Resource Bundles
    -->
    <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>serengeti</value>
            </list>
        </property>
    </bean>

    <!--
        Session Beans
    -->
    <bean id="userSession"
        class="com.playserengeti.session.UserSession" scope="session">
        <aop:scoped-proxy/>
    </bean>

    <!--
        Controllers
    -->

    <bean id="welcomeController"
        class="com.playserengeti.controller.WelcomeController">
        <property name="session" ref="userSession"/>
    </bean>

    <!--
        User Controllers and Such
    -->
    
    <bean id="userController"
       class="com.playserengeti.controller.UserController">
       <property name="methodNameResolver">
          <bean class="com.playserengeti.controller.SerengetiMultipartResolver">
          </bean>
       </property>
       <property name="session" ref="userSession"/>
       <constructor-arg ref="userService"/>
       <constructor-arg ref="teamService"/>
       <constructor-arg ref="locationService"/>
       <constructor-arg ref="visitService"/>
    </bean>  
     
    <bean id="userCreateController"
        class="com.playserengeti.controller.UserCreateController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserCommand"
        />
        <property name="validator" ref="userCreateValidator"/>
        <property name="formView" value="userCreate"/>
        <property name="session" ref="userSession"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userLoginController"
        class="com.playserengeti.controller.UserLoginController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserCommand"/>
        <property name="session" ref="userSession"/>
        <property name="validator" ref="userLoginValidator"/>
        <property name="formView" value="userLogin"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userUpdateController"
        class="com.playserengeti.controller.UserUpdateController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserCommand"
        />
        <property name="session" ref="userSession"/>
        <property name="commandName" value="userCommand"/>
        <property name="validator" ref="userUpdateValidator"/>
        <property name="formView" value="userUpdate"/>
        <constructor-arg ref="userService"/>
        <constructor-arg ref="teamService"/>
    </bean>

    <bean id="userDeleteController"
        class="com.playserengeti.controller.UserDeleteController">
        <property name="commandClass"
            value="com.playserengeti.controller.UserCommand"
        />
        <property name="commandName" value="userCommand"/>
        <property name="validator" ref="userDeleteValidator"/>
        <property name="formView" value="userDelete"/>
        <property name="session" ref="userSession"/>
        <constructor-arg ref="userService"/>
        <constructor-arg ref="teamService"/>
    </bean>
    
    <bean id="userCreateValidator"
        class="com.playserengeti.controller.UserCreateValidator">
    </bean>
    
    <bean id="userLoginValidator"
        class="com.playserengeti.controller.UserLoginValidator">
    </bean>
    
    <bean id="userDeleteValidator"
        class="com.playserengeti.controller.UserDeleteValidator">
    </bean>

    <bean id="userUpdateValidator"
        class="com.playserengeti.controller.UserUpdateValidator">
    </bean>
    
    <bean id="userService"
        class="com.playserengeti.service.UserService">
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="friendshipDao"/>
    </bean>

<!-- 
    <bean id="userDao"
        class="com.playserengeti.dao.UserDaoMockImpl">
    </bean>
-->

    <bean id="userDao"
        class="com.playserengeti.dao.UserDaoIbatisImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="friendshipDao"
        class="com.playserengeti.dao.FriendshipDaoMockImpl">
    </bean>

 <!--
     Team Controllers and Such
 -->

     <bean id="teamController"
        class="com.playserengeti.controller.TeamController">
        <property name="methodNameResolver">
           <bean class="com.playserengeti.controller.SerengetiMultipartResolver">
           </bean>
        </property>
        <property name="session" ref="userSession"/>
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="userService"/>
     </bean>    
     
     <bean id="teamCreateController"
        class="com.playserengeti.controller.TeamCreateController">
        <property name="commandClass"
          value="com.playserengeti.controller.TeamCommand"
        />
        <property name="commandName" value="teamCommand"/>
        <property name="validator" ref="teamCreateValidator"/>
        <property name="formView" value="teamCreate"/>
        <property name="session" ref="userSession"/>
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="teamUpdateController"
        class="com.playserengeti.controller.TeamUpdateController">
        <property name="commandClass"
          value="com.playserengeti.controller.TeamCommand"
        />
        <property name="commandName" value="teamCommand"/>
        <property name="validator" ref="teamUpdateValidator"/>
        <property name="formView" value="teamUpdate" />
        <property name="session" ref="userSession"/>
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="userService"/>
    </bean>
    
    <bean id="teamCreateValidator"
        class="com.playserengeti.controller.TeamCreateValidator">
    </bean>

    <bean id="teamUpdateValidator"
        class="com.playserengeti.controller.TeamUpdateValidator">
    </bean>

    <bean id="teamService"
        class="com.playserengeti.service.TeamService">
        <constructor-arg ref="teamDao"/>
        <constructor-arg ref="membershipDao"/>
    </bean>

    <bean id="teamDao"
        class="com.playserengeti.dao.TeamDaoIbatisImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean id="membershipDao"
        class="com.playserengeti.dao.MembershipDaoMockImpl">
    </bean>

    <!--
        Location Controllers and Such
    -->

     <bean id="locationController"
        class="com.playserengeti.controller.LocationController">
        <property name="methodNameResolver">
           <bean class="com.playserengeti.controller.SerengetiMultipartResolver">
           </bean>
        </property>
        <property name="session" ref="userSession"/>
        <constructor-arg ref="locationService"/>
        <constructor-arg ref="teamService"/>
        <constructor-arg ref="visitService"/>
     </bean>    
     
    <bean id="locationCreateController"
        class="com.playserengeti.controller.LocationCreateController">
        <property name="commandClass"
          value="com.playserengeti.controller.LocationCommand"
        />
        <property name="commandName" value="locationCommand"/>
        <property name="validator" ref="locationCreateValidator"/>
        <property name="formView" value="locationCreate" />
        <property name="session" ref="userSession"/>
        <constructor-arg ref="locationService"/>
    </bean>

    <bean id="locationService"
        class="com.playserengeti.service.LocationService">
        <constructor-arg ref="locationDao"/>
    </bean>

    <bean id="locationCreateValidator"
        class="com.playserengeti.controller.LocationCreateValidator">
    </bean>

    <bean id="locationDao"
        class="com.playserengeti.dao.LocationDaoMockImpl">
    </bean>

    <!--
        Visit Controllers and Such
    -->

    <bean id="visitService"
        class="com.playserengeti.service.VisitService">
        <constructor-arg ref="visitDao"/>
        <constructor-arg ref="userDao"/>
        <constructor-arg ref="locationDao"/>
        <constructor-arg ref="teamDao"/>
    </bean>

    <bean id="visitDao"
        class="com.playserengeti.dao.VisitDaoMockImpl">
    </bean>

    <!--
    This is the way to do it without tiles
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView"
        />
        <property name="prefix" value="/WEB-INF/tiles/"/>
    </bean>
    -->

    <!--
        Tiles configuration and view resolver
    -->
    <bean id="tilesConfigurer"
        class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/serengeti-tiles.xml</value>
            </list>
        </property>
    </bean>

    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.tiles2.TilesView</value>
        </property>
    </bean>
</beans>
